<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello From Flask</title>
  </head>
  <body>
    <h1>Payroll</h1>
    <div>
      <form id="upload" action="/upload" method="post" enctype="multipart/form-data">
        <label>Upload Report Data:</label>
        <input type="file" name="payroll" id="payroll">

        <input type="submit">
      </form>
    </div>
    <hr>
    <div>
      <h3>Report</h3>
      <table style="width:30%">
        <tr>
          <th>Employee ID</th>
          <th>Pay Period</th>
          <th>Amount Paid</th>
        </tr>
        {% for employee in data %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.pay_period }}</td>
          <td>${{ employee.amount_paid }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </body>
</html>
